.Xauthority
.bash_history
.bash_logout
.bash_profile.old
.cache/
.calcurse/
.config/QtProject.conf
.config/Thunar/
.config/VirtualBox/
.config/calcurse/apts
.config/calcurse/todo
.config/chromium/
.config/cmst/
.config/cmus/
.config/com.add0n.native_client/
.config/dconf/
.config/enchant/
.config/git-cola/
.config/google-chrome/
.config/gtk-2.0/gtkfilechooser.ini
.config/htop/
.config/i3/config.bak
.config/i3/config.base
.config/mc/
.config/modem-manager-gui/
.config/mpd/database
.config/mpd/log
.config/mpd/state
.config/mpd/sticker.sql
.config/mpv/config
.config/mpv/mpv.conf
.config/mutt/
.config/ncmpcpp/error.log
.config/netsurf/
.config/nvim/autoload/
.config/nvim/plugged/
.config/pavucontrol.ini
.config/pulse/
.config/rofi/
.config/screenkey.json
.config/shortcutrc
.config/syncthing/
.config/systemd/
.config/teamviewer/
.config/tlpui/
.config/vifm/colors/Default.vifm
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
.config/vifm/vifmrc.bak
.config/vifm/vifmshortcuts
.config/vivaldi/
.config/xfce4/
.dillo/
.esd_auth
.fehbg
.fltk/
.gitignore
.gitignore_global
.gnupg/
.irssi/
.lesshst
.local/share/applications/mimeinfo.cache
.local/share/gvfs-metadata/
.local/share/mc/
.local/share/modem-manager-gui/
.local/share/newsboat/
.local/share/nvim/
.local/share/ranger/
.local/share/recently-used.xbel
.local/share/teamviewer14/
.local/share/vifm/
.local/share/weatherreport
.local/share/xfce4/
.local/share/xorg/
.local/share/zathura/
.mlterm/
.monicarc
.mozilla/
.msmtprc
.offlineimaprc
.packer.d/
.pacupgrnum
.pki/
.shortcuts
.ssh/
.surf/
.tor-browser-en/
.vifmshortcuts
.viminfo
.w3m/
.wget-hsts
.xinitrc.old
Downloads/
Music/
VirtualBox VMs/
fixhdmiaudio
fontselectar
larbs.sh
project2HDMI
wallpapers/
